<a>
<nav>
:target="_blank"
<a href="https://facebook.com" target="_blank">
    <img src="images/facebook.png" alt="fb icon">
</a>
<body>
   <div id="content">
        <header>
. . .
    </footer>
    </div>
</body>
<section class="rapids-card">
    <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
    <img class="icon" src="images/oars.png" alt="oars icon">
    <h2>Rapids</h2>
</section>
<div id="background"></div> 
<img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
    <a class='join' href="rivers.html">Join Us</a>
</section>
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
 
footer p {
    font-size: 1.2em;
}    
 
footer p a:hover {
    text-decoration: underline;
}
